* {
    margin: 0;
    padding: 0;
}
html {
    /*CSS Smooth Scroll */
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    background: white;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255);
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.logo {
    display: flex;
    justify-content: left;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: right;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #6751B3;
}

a.underline
{
    position: relative;
}

a.underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #6751B3;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}


a.underline:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section h1 {
    font-size: 4rem;
}

section p {
    font-size: 1.5rem;
}

section#home {
    background-image: url('waves.svg');
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.left {
    flex: 1;
    background: white;
    flex: 0 0 50%;
    height: 100%;
}

section#home h1 {
    font-weight: normal;
    font-size: 3em;
    color: #bcb2e0;
    color: #6751B3;
    color: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    animation: 1.25s ease-in-out 0s 1 slideInFromLeft;
}

.name {
    font-family: 'Sacramento', cursive;
    font-size: 1.25em;
    font-weight: bold;
    display: inline-block;
    margin-top: .50em;
}

section#about {
    background: #988cc5;
}

section#services {
    background-image: url('waves.svg');
}

.services {
    background: white;
    padding: 3em 5em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.waxing {
    text-align: left;
    margin-top: .75em;
}

.services h1 {
    font-family: 'Sacramento', cursive;
}

.waxing p {
    margin: 1em 0;
}

.covid19 {
    font-size: 1em;
}

.price {
    float: right;
    font-weight: bold;
}

section#hourslocation {
    background: #6751B3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(90deg, white 50%, #bcb2e0 50%);
}

iframe {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.right {
    flex: 1;
    background: #bcb2e0;
    flex: 0 0 50%;
    height: 100%;
}

.arrow{
    position: relative;
    top: 55%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(50%);
}

.arrow span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid #6751B3;
    border-right: 3px solid #6751B3;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateY(-200%);
    }

    100% {
      transform: translateY(-50%);
    }
  }